name: "CI"
on:
  push:
    branches:
      - main
    paths:
      - "home.nix"
      - "modules/**"
      - ".github/workflows/ci.yml"
  pull_request:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v12
        with:
          nix_path: "nixpkgs=channel:nixos-unstable"
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Test configuration
        run: nix run github:nix-community/home-manager/master -- -f $GITHUB_WORKSPACE/home.nix switch --dry-run
